* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

header, .hero, .contactame {
  background-color: #111111;
  color: #fff;
}

header, nav ul, .contactame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 0.8rem 0;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1000;
  border: #111111;
}

header .container {
  width: 90%;
  max-width: 1150px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .container h1 {
  border-bottom: 3px solid #0075b9;
  padding-bottom: 0.2em;
  font-size: 1.5rem;
}

header .container .burger {
  display: inline-block;
  cursor: pointer;
}

header .container .burger div {
  width: 30px;
  height: 4px;
  background-color: #fff;
  margin: 5px 0;
  border-radius: 5px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header .container nav {
  display: none;
}

header .container nav a {
  text-decoration: none;
  color: #fff;
}

header .container nav a li {
  list-style: none;
  font-size: 1.2rem;
}

header .container nav a .middle {
  margin: 0 30px;
}

.hero {
  padding: 6rem 0 10rem 0;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(91% + 2px));
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(91% + 2px));
}

.hero .container {
  width: 90%;
  max-width: 1150px;
  margin: 0 auto;
  text-align: center;
}

.hero .container h1 {
  font-size: 2rem;
  letter-spacing: 2px;
  line-height: 3rem;
}

.hero .container p {
  margin: 1.5rem 0 2.3rem 0;
  color: #c5c5c5;
  font-size: 1.36rem;
  line-height: 35px;
}

.hero .container a {
  display: inline-block;
  font-size: 1.36rem;
  padding: 1rem 2.6rem;
  background-color: #0075b9;
  border-radius: 50px;
  outline: transparent;
}

.proyectos, .sobre {
  color: #111111;
  text-align: center;
}

.section-title {
  font-size: 1.5rem;
}

.proyectos {
  padding: 4rem 0 2rem 0;
}

.proyectos .container {
  width: 90%;
  max-width: 1150px;
  margin: 0 auto;
  letter-spacing: 1px;
}

.proyectos .container h2 {
  padding-bottom: 4rem;
  font-size: 1.7rem;
}

.proyectos .container .cards {
  width: 100%;
  max-width: 1150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.proyectos .container .cards .card {
  width: 280px;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 10px #13131383;
          box-shadow: 5px 5px 10px #13131383;
  margin: 25px 10px;
  overflow: hidden;
  background-color: #fafafa;
}

.proyectos .container .cards .card .img {
  height: 200px;
  background-image: url("../assets/images/Screenshot_20191204-113031.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.proyectos .container .cards .card .content {
  margin: 35px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.proyectos .container .cards .card .content .title, .proyectos .container .cards .card .content .description, .proyectos .container .cards .card .content .tech-text {
  margin-bottom: 20px;
}

.proyectos .container .cards .card .content .title {
  color: #383838;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.proyectos .container .cards .card .content .description {
  font-size: 1em;
  color: #676767;
}

.proyectos .container .cards .card .content .tech-text {
  font-size: 0.8em;
  color: #676767;
}

.proyectos .container .cards .card .content .botones {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 163px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.proyectos .container .cards .card .content .botones a div {
  border: 2px solid black;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.proyectos .container .cards .card .content .botones a div img {
  width: 25px;
  margin: 10px;
}

.proyectos .container .helper {
  font-size: 1.3rem;
  line-height: 35px;
  margin-top: 40px;
  color: #676767;
}

.proyectos .container .helper a {
  text-decoration: none;
  color: #2E739A;
}

.sobre {
  padding: 2rem 0 4rem 0;
}

.sobre .container {
  width: 90%;
  max-width: 1150px;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 1px;
}

.sobre .container h2 {
  padding-bottom: 4rem;
  font-size: 1.7rem;
}

.sobre .container p {
  font-size: 1.3rem;
  line-height: 35px;
  color: #676767;
}

.contactame {
  padding: 8rem 0 4rem 0;
  -webkit-clip-path: polygon(0 9%, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 9%, 100% 0, 100% 100%, 0 100%);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contactame .container {
  width: 90%;
  max-width: 1150px;
  margin: 0 auto;
  letter-spacing: 1px;
}

.contactame .container h2 {
  padding-bottom: 4rem;
  text-align: center;
  font-size: 1.7rem;
}

.contactame .container form {
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contactame .container form div + div {
  margin-top: 1.5rem;
}

.contactame .container form div label {
  display: block;
  margin-bottom: 10px;
}

.contactame .container form div input, .contactame .container form div .mensaje {
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 10px 10px;
  outline: none;
  font-size: 1.3rem;
}

.contactame .container form div .mensaje {
  height: 150px;
}

.contactame .container form button {
  font-size: 1.36rem;
  padding: 1rem 2.6rem;
  color: #fff;
  background-color: #0075b9;
  border: none;
  border-radius: 50px;
  outline: none;
  margin: 1.2rem auto 0 auto;
}

/* @media screen and (min-width: 500px){
   header{
      h1{
         font-size: 2rem;
      }
   }

   .hero{
      justify-content: center;
      .container{
         text-align: center;
         display: flex;
         flex-direction: column;
         align-items: center;

         h1{
            font-size: 2.4em;
         }
         
         p{
            width: 85%;
         }
      }
   }
}

@media screen and (min-width: 600px){
   // .hero{
   //    padding: 0px 40px;
   // }

   .hero{
      .container{
         text-align: center;
         h1{
            font-size: 3em;
         }
      }
   }

   .section-title{
      font-size: 2rem;
   }
}

@media screen and (min-width: 650px){
   header, .hero{
      padding: 0px 10%;
   }

   .proyectos{
      padding: 60px 10%;
   }

   .sobre{
      padding: 110px 10% 160px 10%;
   }

   .contactame{
      padding: 108px 10% 55px 10%;
   }

   .contactame{
      form{
         flex-direction: row;
         flex-wrap: wrap;
         
         .nombre, .correo{
            width: 47.5%;
         }

         .nombre{
            margin-right: 5%;
         }
         .mensaje{
            width: 100%;
         }
      }
   }
}

@media screen and (min-width: 720px){
   header{
      padding: 0px 13%;

      .container{
         display: none;
      }

      nav{
         display: inline-block;
      }
   }

   .hero{
      padding: 0px 13%;
   }

   .proyectos{
      padding: 12vh 13%;
   }

   .sobre{
      padding: 4vh 13% 20vh 13%;
   }

   .contactame{
      padding: 25vh 13% 15vh 13%;
   }
}

 */
/*# sourceMappingURL=index.css.map */